.topNav{
    margin-bottom: 95px !important;
}
.navBar{
    background-color: white;
box-shadow: 0 0 5px 5px rgba(173, 216, 230, 0.452);
}
.navTitle img{
    height: 60px !important;
}
.navTitle span{
    color: rgb(6, 137, 252);
    font-size: 30px;
    font-weight: 700;
}
.navLink{
    font-size: 20px;
    font-weight: 600;
    margin-left: 30px;
    color: rgb(99, 99, 99) !important;
    text-align: center;
    transition: .5s ease-in-out !important;
}
.navLink:hover{
    color: white !important;
    background-color: lightblue;
    border-radius: 10px;
   text-align: center;
}