
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* font-family: 'Cinzel', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
